<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
          <app-dynamic-form-v2></app-dynamic-form-v2>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
          <app-dynamic-form-v2></app-dynamic-form-v2>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Three</a>
        <ng-template ngbNavContent>
          <app-dynamic-form-v2></app-dynamic-form-v2>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </body>
</html>
