<div class="header color">
  <h1>Registration Form</h1>
</div>

<section>
  <div class="col-md-12">{{registrationForm.value | json}}</div>
    <form id="form" [formGroup]="registrationForm">
      <div class="row form">
        <!-- use dynamicFormArray to iterate each obj -->
        <div class="col-md-12" *ngFor="let control of dynamicFormArray">
      <!-- pass condition to switch type (so based on the Type from JSON doc) -->
            <div [ngSwitch]="control.Type">
      <!-- create switchCase based on control types (I use 4) -->
          <!-- case for input -->
              <div *ngSwitchCase="'input'">
                <div class="col-md-4">  
                  <label>{{control.Label}}</label>
                </div>
                <div class="col-md-6">
                  <input formControlName={{control.ID}} type="text" class="form-control">
                </div>
              </div>
          <!-- case for date -->
              <div *ngSwitchCase="'date'">
                <div class="col-md-4">  
                  <label>{{control.Label}}</label>
                </div>
                <div class="col-md-6">
                  <input formControlName={{control.ID}} type="date"  class="form-control">
                </div>
              </div>
          <!-- case for radio -->
              <div *ngSwitchCase="'radio'">
                 <div class="col-md-4">  
                  <label>{{control.Label}}</label>
                </div>
                 <div class="col-md-6">
              <!-- on label, iterate loop ngFor -->
                   <label class="radio" *ngFor="let val of control.Value.split(',')" >
                    <input formControlName={{control.ID}} type="radio"  name="{{control.ID}}" value="{{val}}">
                    {{val}}
                  </label>
                 </div>
              </div>
          <!-- case for select -->
              <div *ngSwitchCase="'select'">
                <div class="col-md-4">  
                  <label>{{control.Label}}</label>
                </div>
                <!-- bind option value from json obj -->
                <div class="col-md-6">
                  <select class="form-control" formControlName={{control.ID}}>
                    <option value="-1">Select</option>
                      <!-- using ngFor on option -->
                        <!-- split value based on comma -->
                    <option *ngFor="let val of control.Value.split(',')" value="{{val}}">{{val}}</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
      </div>
      <button type="submit" (click)="formSubmit()">Submit</button>
    </form>
</section>
